.resume{
  min-height:100vh;
  
}

.tab {
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
}

.nav-pills .nav-item a {
  margin: 4px;
  align-items: center;
  appearance: none;
  /* background-color: #2b2b6e; */
  border-radius: 4px;
  border: 2px solid #252A34;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(0, 11, 41);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 22px;
   
}

.active-tab {
   padding: 5px;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.tab-content {
  height: 100%;
  width: 100%;
  border-radius:20px;
  box-shadow: 5px 6px 8px #525252d3;
  /* background-image: linear-gradient(to right, #d00000, #e85d04, #d00000); */
  background-color: white;
  padding : 30px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}



.tab {

  margin: 4px;
  align-items: center;
  appearance: none;
  background-color: #FF2E63;
  border-radius: 4px;
  border: 2px solid #FCFCFD;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff!important;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 
}

.tab:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.tab:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.tab:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.nav-pills .nav-item a:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #FF2E63;
  color: #fff;
}

@media (max-width:700px){
  .tab-content{
    margin: 1rem;
    width: auto;
  }
  .resume{
    margin-top: 20%;
  }
}
@media (max-width:1000px){
  .resume{
    min-height: auto;
    margin-top : 10%;
  }
}