
  
  .projects {
    position : relative;
    /* width : 1100px; */
    display : flex;
    align-items : center;
    /* justify-info : center; */
    /* flex-warp : warp; */
    padding : 30px;  
  }
  
  .projects .card {
    position: relative;
    max-width : 300px;
    height : 170px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    border : 4px #FF2E63 solid;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .projects .card:hover {
    height : 380px;    
  }
  
  
  .projects .card .image {
    position : relative;
    width : 260px;
    height : 250px;
    /* object-fit : contain; */
    
    top : -40%;
    left: 8px;
    /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
    z-index : 1;
  }
  
  .projects .card .image img {
    max-width : 100%;
    border-radius : 15px;
    width : 260px;
    height : 150px;
    object-fit : contain;
  }
  
  .projects .card .info {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111 !important;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }

  .projects .card .info h2{
    color :black;
    font-size: 30px;
  }
  
  .projects .card:hover .info {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

  .watch-project-btn{
    background: linear-gradient(134.92deg, #ff0543 -2.54%, #FF2E63 94.63%) no-repeat;
    
    border:none;
    transition:  1s ;
    color:#fff;
  }
  .watch-project-btn:hover{
    background: linear-gradient(134.92deg, #FF2E63 -2.54%,  #ff0543 94.63%) no-repeat;
    border:none;
    color: white;
  }


  @media (min-width:600px){

    .projects .card .image{
      /* left: -3px; */
      width : 250px;
    }
  }

  @media ((max-width:1000px)&& (min-width: 700px)){

    .projects .card .image{
      left: auto;
      width : 190px;
    }
  }

  @media (max-width:300px){

    .projects .card .image{
      left: -3px;
      width : 250px;
    }
  }